* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.result {
    display: flex;
    min-height: 10vh;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

ul.baslik{
    width:100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
} 




ul.icerik{
    width:100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
} 

 

h2.tarih {
    margin-left:20px;
    clear:both;

}


